<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Find Kangoo Jumps Near You</title>
    <link rel="stylesheet" href="../Static/Css1.css">
    <script src="../Static/GeoLocation.js"></script> <!--to get location for nearest studios-->

</head>

<body>
    <div class="Header" id="pagetitle">
        <img src="../Logo.svg" alt="Logo">
        <h1>Find Kangoo Jumps Classes Near You</h1>
    </div>

    <div class="Nav">
        <a href="./FirstPage.html">Home</a>
        <a href="./FourthPage.html">Contact Me</a>
    </div>

    <div class="GridContainer">

        <div class="GridHeader">
            <h3 class="animation1">WELCOME!</h3>
            <script src="../Static/Animations.js"></script>
            <p>
                Kangoo Jumps is an absolutely amazing and fun workout for everybody to enjoy. <br>
                It is a 60-minute intense cardiovascular workout that combines dance moves, running and jumping around. <br>
                Studies have shown that 30 minutes of rebound (rebound) equals 5 km of running! <br>
                You will feel comfortable and safe after only a few minutes of use. <br>
                The Kangoo Jumps are very stable and can be used for running, aerobics, dancercise, for all types of exercise! <br>
            </p>
            <h3>Why Participate?</h3>
            <p>
                Protect your knees and joints (up to 80% less impact as compared to convention shoes), increase your muscular and cardiovascular endurance and energy (20% more cardio than similar aerobic activity without a rebound shoes, facilitate weight loss (burns 20% more calories than any other form of exercise, and most importantly release high amounts of endorphins!
            </p>
            
        </div>

        <div class="GridContent">
            <h2>Let's Workout!</h2>
            <h3> Find a Kangoo Jumps studio near you:</h3>

            <form id="searchstudio">
                <label for="email">Your Email: </label>
                <input type="email" name="email" id="email" required>

                <h4>When do you prefer to workout?</h4>

                <label for="days">Days: </label>
                <select name="days" id="days" required>
                    <option value="none" selected disabled hidden>Select Preferred Days</option>
                    <option value="weekdays">Weekdays (Sunday-Thursday)</option>
                    <option value="weekends">Weekends (Friday, Saturday)</option>
                    <option value="both">Any Day</option>
                </select>
                <br> <br>

                <label for="hours">Hours: </label>
                <select name="hours" id="hours" required>
                    <option value="none" selected disabled hidden>Select Preferred Hours</option>
                    <option value="mornings">Morning (7AM-12PM)</option>
                    <option value="afternoon">Afternoon (12PM-5PM)</option>
                    <option value="evenings">Evening (5PM-9PM)</option>
                    <option value="m&a">Mornings & Afternoons</option>
                    <option value="m&e">Mornings & Evenings</option>
                    <option value="a&e">Afternoons & Evenings</option>
                </select>
                <br> <br>

                <a href="./SecondPage.html">
                     <input type="button" name="submit" id="submit" value="Search">
                </a>
            </form>
          
        </div>

        <div class="GridLeft">
            <img src="../Page1Photo1.jpg" width="400" alt="Kangoo Jumps Photo1">
        </div>
        <div class="GridRight">
            <img src="../Page1Photo2.jpg" width="400" alt="Kangoo Jumps Photo2">
        </div>

    </div>

    <footer>Yarden Sassoun WEB Course 2022</footer>

</body>
</html>