<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results - Find Kangoo Jumps Near You</title>
    <link rel="stylesheet" href="../Static/Css1.css">
</head>
<body>
    <div class="Header">
        <img src="../Logo.svg" alt="Logo">
        <h1>Find Kangoo Jumps Classes Near You</h1>
    </div>

    <div class="Nav">
        <a href="./FirstPage.html">Home</a>
        <a href="./FourthPage.html">Contact Me</a>
    </div>

    <div class="GridContainer">

        <div class="GridHeader">
            <img src="../Page2Photo2.jpg" alt="Kangoo Photo 1" width="900" height="400">
        </div>

        <div class="GridContent">
            <h2>Here are the closest studios near you:</h2>
            <div class="results">
                <h4>Ben Gurion University Sports Center Studio</h4>
                <h4>David Ben Gurion Blvd 11, Be'er Sheva</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.514919583909!2d34.80494021457036!3d31.26184916699085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502665804d69ee5%3A0x2388260884681747!2sSports%20Center%2C%20Ben-Gurion%20University!5e0!3m2!1sen!2sil!4v1663225334614!5m2!1sen!2sil" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br> 
                <a href="./ThirdPage.html">
                    <input type="button" name="moreinfo" id="moreinfo" value="More Info">
                </a> 
                <br>
                <!--more results here-->
                
            </div>
        </div>

    </div>

    <footer>Yarden Sassoun WEB Course 2022</footer>

</body>
</html>