<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me - Find Kangoo Jumps Near You</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="Header">
      <img src="/static/svg/logo.svg" alt="Logo" />
      <h1>Find Kangoo Jumps Classes Near You</h1>
    </div>

    <div class="Nav">
      <a href="/">Home</a>
      <a href="/contact">Contact Me</a>
    </div>

    <div class="GridContainer">
      <div class="GridHeader">
        <img
          src="/static/images/Page4Photo.jpg"
          alt="Kangoo Photo 1"
          width="900"
          height="300"
        />
      </div>

      <div class="GridContent">
        <h2>We'll contact you! Leave us your info:</h2>
        <form id="contactme" action="/contact" method="post">
          <label for="studio">Chosen Studio: </label>
          <select form="contactme" name="centerId" id="centerId" required>
            <!--ALL STUDIOS FROM DATABASE-->
            <option value="none" selected disabled hidden>
              Select a Studio
            </option>
            <% for(let i = 0; i < studios.length; i++) { %>
            <option value="<%= studios[i].id%>">
              <%= studios[i].center_name %>
            </option>
            <% } %>
          </select>
          <br />
          <br />
          <label for="fullname">Full Name: </label>
          <input type="text" name="fullname" id="fullname" required />
          <br /><br />
          <label for="phonenum">Your Phone Number: </label>
          <input type="tel" name="phone" id="phone" required />
          <br />
          <br />
          <button type="submit" id="submit2">Submit</button>
        </form>
      </div>
    </div>

    <footer>Yarden Sassoun WEB Course 2022</footer>
  </body>
</html>
