<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - Find Kangoo Jumps Near You</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="Header" id="pagetitle">
      <img src="/static/svg/logo.svg" alt="Logo" />
      <h1>Find Kangoo Jumps Classes Near You</h1>
    </div>

    <div class="Nav">
      <a href="/">Home</a>
      <a href="/contact">Contact Me</a>
    </div>

    <div class="GridContainer">
      <div class="GridHeader">
        <h3 class="animation1">WELCOME!</h3>
        <p>
          Kangoo Jumps is an absolutely amazing and fun workout for everybody to
          enjoy. <br />
          It is a 60-minute intense cardiovascular workout that combines dance
          moves, running and jumping around. <br />
          Studies have shown that 30 minutes of rebound (rebound) equals 5 km of
          running! <br />
          You will feel comfortable and safe after only a few minutes of use.
          <br />
          The Kangoo Jumps are very stable and can be used for running,
          aerobics, dancercise, for all types of exercise! <br />
        </p>
        <h3>Why Participate?</h3>
        <p>
          Protect your knees and joints (up to 80% less impact as compared to
          convention shoes), increase your muscular and cardiovascular endurance
          and energy (20% more cardio than similar aerobic activity without a
          rebound shoes, facilitate weight loss (burns 20% more calories than
          any other form of exercise, and most importantly release high amounts
          of endorphins!
        </p>
      </div>

      <div class="GridContent">
        <h2>Let's Workout!</h2>
        <h3>Find a Kangoo Jumps studio near you:</h3>

        <form id="search" action="/search" method="post">
          <label for="email">Please enter your email:</label>
          <input type="text" name="email" id="email" required />
          <br /><br />

          <h4>When do you prefer to workout?</h4>

          <label for="days">Select Preferred Days: </label>
          <select name="days" id="days" form="search" required>
            <option value="any" selected>Any Day</option>
            <option value="both">Both weekdays and weekends</option>
            <option value="weekdays">Weekdays (Sunday-Thursday)</option>
            <option value="weekends">Weekends (Friday, Saturday)</option>
          </select>
          <br />
          <br />

          <label for="hours">Select Preferred Hours: </label>
          <select name="hours" id="hours" form="search" required>
            <option value="any" selected>Any time</option>
            <option value="mornings">Morning (7AM-12PM)</option>
            <option value="afternoon">Afternoon (12PM-5PM)</option>
            <option value="evenings">Evening (5PM-9PM)</option>
          </select>
          <br />
          <br />

          <input type="text" name="latitude" id="latitude" required />
          <input type="text" name="longitude" id="longitude" required />

          <button type="submit" id="submit" disabled>
            Getting your geolocation...
          </button>
        </form>
      </div>

      <div class="GridLeft">
        <img
          src="/static/images/Page1Photo1.jpg"
          width="400"
          alt="Kangoo Jumps Photo1"
        />
      </div>
      <div class="GridRight">
        <img
          src="/static/images/Page1Photo2.jpg"
          width="400"
          alt="Kangoo Jumps Photo2"
        />
      </div>
    </div>

    <footer>Yarden Sassoun WEB Course 2022</footer>
  </body>
  <script src="/static/js/animations.js"></script>
  <script src="/static/js/geolocation.js"></script>
</html>
