<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You - Find Kangoo Jumps Near You</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="Header">
      <img src="/static/svg/logo.svg" alt="Logo" />
      <h1>Find Kangoo Jumps Classes Near You</h1>
    </div>

    <div class="Nav">
      <a href="/">Home</a>
      <a href="/contact">Contact Me</a>
    </div>

    <div class="GridContainer">
      <div class="GridHeader">
        <img
          src="/static/images/Page4Photo.jpg"
          alt="Kangoo Photo 1"
          width="900"
          height="300"
        />
      </div>

      <div class="GridContent">
        <h2>
          Thank you! <br />
          Your information has been sent. <br />
          The studio you chose will contact you as soon as possible.
        </h2>
      </div>
    </div>

    <footer>Yarden Sassoun WEB Course 2022</footer>
  </body>
</html>
